body.bg-img{
    background-image: url("/static/img/formulari.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    align-content: left;
}

table.table.table-dark{
    margin: 19%;
    margin-left: 15%;
    margin-right: 15%;
    width: 75%;

}
td.centre{
    text-align: center;
}
.logo{
    width: 5%;

}
body.bg-color{
    background-color: #2c2f33;
}
.fila-color{
    background-color: #99aab5;
}


hr{
    background: white;
}

div.container.contact-form{
    background:rgba(0,0,0, .6); color:white;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px grey;
}
h1.blanc{
    color: white;
    text-align: center;
}
p.blanc{
    color: white;
    text-align: center;
}
img.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}