<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert Jocs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>
<body>
<form action="/insert_jocs" method="POST">
  <input type="text" placeholder="Nom joc" name="nom">
  <input type="text" placeholder="any_creacio" name="any_llençament">
  <input type="text" placeholder="Ciutat" name="ciutat">
  <input type="text" placeholder="Empresa" name="empresa">
  <input type="text" placeholder="Numero de Jugadors" name="numero_de_jugadors">
  <input type="file" accept=".png" placeholder="imatge" name="/static/img">
  <input type="submit">
</form>
</body>
</html>