<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert Cita Previa</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>
<body>
<form action="/insert_jugadors" method="POST">
  <input type="text" placeholder="Nom" name="nom">
  <input type="text" placeholder="anys" name="anys">
  <select name="Assumpte">
    <option value="Revisio">Revisio</option>
    <option value="Cirururgia">Cirururgia</option>
    <option value="Urgencies">Urgencies</option>
  </select>
  <input type="text" placeholder="Ciutat" name="ciutat">
  <input type="submit">
</form>
</body>
</html>