<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert Jugadors</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>
<body>
<form action="/insert_jugadors" method="POST">
  <input type="text" placeholder="Nom jugador" name="nom">
  <input type="text" placeholder="anys" name="anys">
  <select name="equip">
    <option value="KPI">KPI</option>
    <option value="G2">G2</option>
    <option value="giants">giants</option>
  </select>
  <input type="text" placeholder="Ciutat" name="ciutat">
  <input type="submit">
</form>
</body>
</html>